In [1]:
from google.colab import drive

drive.mount('/content/drive/')

ModuleNotFoundError: No module named 'google.colab'

In [2]:
import pandas as pd

In [3]:
# import collision_road matching data with segment IDs
df_collisions_road = pd.read_csv('../data/output/collisions_road.csv')

# import collision data
df_collisions = pd.read_csv('../data/output/collisions.csv')

c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5,20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_collisions_merged = df_collisions_road.merge(df_collisions, left_on='col_id', right_on='col_id', suffixes=('','_y'), copy=False)
df_collisions_merged = df_collisions_merged.drop(['street_y', 'year_y', 'month_y', 'hour_y',
       'weekday_y'], axis=1)
df_collisions_merged.columns

Index(['col_id', 'street', 'year', 'month', 'weekday', 'hour', 'segment_id',
       'bezirk', 'stadtteil', 'strassenna', 'objectid', 'land', 'district',
       'LOR', 'LOR_ab_2021', 'acc_cat', 'acc_type1', 'acc_type2', 'lightratio',
       'bike', 'car', 'foot', 'motor', 'vehicle', 'other', 'road_con',
       'LINREFX', 'LINREFY', 'XGCSWGS84', 'YGCSWGS84'],
      dtype='object')

In [5]:
df_collisions_merged.to_csv('../data/output/df_collisions_merged.csv')

In [6]:
df_collisions_merged.bezirk = df_collisions_merged.bezirk.astype(str)
df_collisions_merged.stadtteil = df_collisions_merged.stadtteil.astype(str)
df_collisions_merged.strassenna = df_collisions_merged.strassenna.astype(str)
df_collisions_merged.other = df_collisions_merged.other.astype(str)
df_collisions_merged.street = df_collisions_merged.street.astype(str)
df_collisions_merged.road_con = df_collisions_merged.road_con.astype(str)

In [7]:
df_collisions_merged.head(20)

,col_id,street,year,month,weekday,hour,segment_id,bezirk,stadtteil,strassenna,...,car,foot,motor,vehicle,other,road_con,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,0,Samariterviertel,2018,1,4,15,6209.0,Friedrichshain-Kreuzberg,Friedrichshain,Frankfurter Allee,...,1,1,0,0,0,1,"803604,1562","5827580,738","13,4750178","52,51359681"
1,1,Ziekowstraße/Freie Scholle,2018,1,2,11,41374.0,Reinickendorf,Tegel,A 111 BAB Autobahnzubringer Hamburg,...,1,0,0,0,0,0,"790639,5854","5835009,589","13,29102205","52,58725906"
2,1,Ziekowstraße/Freie Scholle,2018,1,2,11,41373.0,Reinickendorf,Tegel,A 111 BAB Autobahnzubringer Hamburg,...,1,0,0,0,0,0,"790639,5854","5835009,589","13,29102205","52,58725906"
3,2,Barnimkiez,2018,1,3,9,4410.0,Pankow,Prenzlauer Berg,Otto-Braun-Straße,...,1,1,0,0,0,0,"799827,9618","5828733,523","13,42057818","52,52601854"
4,3,Volkspark (Rudolf-Wilde-Park),2018,1,2,17,1452.0,Tempelhof-Schöneberg,Schöneberg,Hauptstraße,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
5,3,Volkspark (Rudolf-Wilde-Park),2018,1,2,17,828.0,Tempelhof-Schöneberg,Schöneberg,Dominicusstraße,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
6,3,Volkspark (Rudolf-Wilde-Park),2018,1,2,17,829.0,Tempelhof-Schöneberg,Schöneberg,Dominicusstraße,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
7,3,Volkspark (Rudolf-Wilde-Park),2018,1,2,17,20054.0,Tempelhof-Schöneberg,Schöneberg,Hauptstraße,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
8,4,Niederschönhausen,2018,1,4,15,21397.0,Pankow,Niederschönhausen,Dietzgenstraße,...,0,1,0,0,0,1,"798261,3849","5835047,26","13,40322797","52,58347154"
9,5,Ringkolonnaden,2018,1,2,5,7709.0,Marzahn-Hellersdorf,Marzahn,Märkische Allee,...,1,0,0,0,0,0,"808320,0275","5832060,055","13,54844656","52,5510946"
10,6,Forst Grunewald,2018,1,2,17,41694.0,Charlottenburg-Wilmersdorf,Grunewald,A 115 BAB Autobahnzubringer Magdebg/Leipz (Avus),...,1,0,0,0,1,1,"788961,8201","5823583,542","13,25639043","52,48571541"
11,6,Forst Grunewald,2018,1,2,17,41696.0,Charlottenburg-Wilmersdorf,Grunewald,A 115 BAB Autobahnzubringer Magdebg/Leipz (Avus),...,1,0,0,0,1,1,"788961,8201","5823583,542","13,25639043","52,48571541"
12,7,Lietzengraben,2018,1,5,16,42256.0,Pankow,Buch,A 114 BAB Autobahnzubringer Prenzlau,...,1,0,0,0,0,1,"799543,5822","5840743,375","13,42725182","52,63382261"
13,7,Lietzengraben,2018,1,5,16,42255.0,Pankow,Buch,A 114 BAB Autobahnzubringer Prenzlau,...,1,0,0,0,0,1,"799543,5822","5840743,375","13,42725182","52,63382261"
14,8,Alexanderplatzviertel,2018,1,2,14,8333.0,Mitte,Mitte,Grunerstraße,...,1,1,0,0,0,0,"799255,9754","5827907,973","13,41142938","52,51893299"
15,8,Alexanderplatzviertel,2018,1,2,14,39275.0,Mitte,Mitte,Straßentunnel Alexanderplatz,...,1,1,0,0,0,0,"799255,9754","5827907,973","13,41142938","52,51893299"
16,9,Teichstraße,2018,1,7,21,2201.0,Reinickendorf,Reinickendorf,Lindauer Allee,...,0,0,1,0,0,1,"794735,9234","5833763,947","13,35020475","52,57388905"
17,10,Alexanderplatzviertel,2018,1,3,17,8321.0,Mitte,Mitte,Otto-Braun-Straße,...,1,0,0,0,0,1,"799698,6291","5828456,085","13,41842748","52,52360287"
18,10,Alexanderplatzviertel,2018,1,3,17,39275.0,Mitte,Mitte,Straßentunnel Alexanderplatz,...,1,0,0,0,0,1,"799698,6291","5828456,085","13,41842748","52,52360287"
19,11,Manteuffelstraße,2018,1,4,16,39308.0,Tempelhof-Schöneberg,Tempelhof,Manteuffelstraße,...,1,0,0,0,0,1,"797300,7087","5822341,224","13,37773011","52,47010259"

In [8]:
# generate all dates from start to end
import time
import datetime



start = "31/12/2017"
end = "31/12/2020"
date = datetime.datetime.strptime(start, "%d/%m/%Y")

dates = list()
while(date != datetime.datetime.strptime(end, "%d/%m/%Y")): 
    date += datetime.timedelta(days=1)
    for i in range(24):
        dates.append((date.strftime("%Y-%m-%d"), i))

In [9]:
# Create the pandas DataFrame
df_date_hour_pairs = pd.DataFrame(dates, columns = ['date', 'hour'])
df_segments = pd.DataFrame(df_collisions_road["segment_id"].unique(), columns=["segment_id"])

In [10]:
df_date_hour_pairs['date'] = pd.to_datetime(df_date_hour_pairs['date'])
df_date_hour_pairs['year'] = df_date_hour_pairs['date'].dt.year
df_date_hour_pairs['month'] = df_date_hour_pairs['date'].dt.month

In [11]:
df_date_hour_pairs['weekday_name'] = df_date_hour_pairs['date'].dt.weekday_name
df_date_hour_pairs['weekday'] = df_date_hour_pairs['date'].dt.weekday + 2
df_date_hour_pairs.loc[(df_date_hour_pairs.weekday == 8),'weekday']=1
df_date_hour_pairs = df_date_hour_pairs.drop('date', axis=1)

In [12]:
df_date_hour_pairs = df_date_hour_pairs.drop_duplicates()

In [13]:
import findspark
findspark.init()
findspark.find()
import pyspark
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType, FloatType

In [14]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('ML_Project').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [15]:
df_date_hour_pairs = spark.createDataFrame(df_date_hour_pairs) 
df_segments = spark.createDataFrame(df_segments) 
df_collisions_merged = spark.createDataFrame(df_collisions_merged)

In [16]:
df_combinations = df_date_hour_pairs.crossJoin(df_segments)

In [17]:
df_combinations.count()

117034848

In [18]:
df_combinations = df_combinations.join(df_collisions_merged,(df_combinations.year == df_collisions_merged.year) & 
                                                            (df_combinations.month == df_collisions_merged.month) & 
                                                            (df_combinations.weekday == df_collisions_merged.weekday) & 
                                                            (df_combinations.hour == df_collisions_merged.hour) &
                                                            (df_combinations.segment_id == df_collisions_merged.segment_id), 
                                       "leftanti")

In [19]:
df_combinations.count()

116938408

In [20]:
df_combinations.show(30)

+----+----+-----+------------+-------+----------+
|hour|year|month|weekday_name|weekday|segment_id|
+----+----+-----+------------+-------+----------+
|   0|2018|    1|      Monday|      2|   39305.0|
|   0|2018|    1|      Monday|      2|    7183.0|
|   0|2018|    1|      Monday|      2|    3840.0|
|   0|2018|    1|      Monday|      2|   42079.0|
|   0|2018|    1|      Monday|      2|   31885.0|
|   0|2018|    1|      Monday|      2|   41108.0|
|   0|2018|    1|      Monday|      2|    8171.0|
|   0|2018|    1|      Monday|      2|    6450.0|
|   0|2018|    1|      Monday|      2|    5578.0|
|   0|2018|    1|      Monday|      2|   29533.0|
|   0|2018|    1|      Monday|      2|   23565.0|
|   0|2018|    1|      Monday|      2|   17180.0|
|   0|2018|    1|      Monday|      2|    3268.0|
|   0|2018|    1|      Monday|      2|    3484.0|
|   0|2018|    1|      Monday|      2|   19780.0|
|   0|2018|    1|      Monday|      2|    1387.0|
|   0|2018|    1|      Monday|      2|   11742.0|
|   0|2018|    1|      Monday|      2|   37901.0|
|   0|2018|    1|      Monday|      2|   20232.0|
|   0|2018|    1|      Monday|      2|     110.0|
|   0|2018|    1|      Monday|      2|   22466.0|
|   0|2018|    1|      Monday|      2|   39204.0|
|   0|2018|    1|      Monday|      2|   42440.0|
|   0|2018|    1|      Monday|      2|   18250.0|
|   0|2018|    1|      Monday|      2|   41381.0|
|   0|2018|    1|      Monday|      2|   39071.0|
|   0|2018|    1|      Monday|      2|   41908.0|
|   0|2018|    1|      Monday|      2|   11630.0|
|   0|2018|    1|      Monday|      2|   38709.0|
|   0|2018|    1|      Monday|      2|   24665.0|
+----+----+-----+------------+-------+----------+
only showing top 30 rows

In [21]:
df_combinations = df_combinations.sample(False, 0.014, seed=None)

In [22]:
df_combinations.count()

1636763

In [23]:
df_collisions_merged = spark.read.csv('../data/output/df_collisions_merged.csv', header=True, inferSchema=True).dropDuplicates(['segment_id'])

In [24]:
df_collisions_merged.count()

19351

In [25]:
df_combinations = df_combinations.join(df_collisions_merged, df_combinations.segment_id == df_collisions_merged.segment_id, "left").select(df_combinations['*'],df_collisions_merged['XGCSWGS84'],df_collisions_merged['YGCSWGS84'])

In [26]:
df_combinations = df_combinations.withColumn('YGCSWGS84', regexp_replace('YGCSWGS84',',','.'))
df_combinations = df_combinations.withColumn('XGCSWGS84', regexp_replace('XGCSWGS84',',','.'))

In [27]:
df_combinations=df_combinations.withColumn("XGCSWGS84",df_combinations.XGCSWGS84.cast(FloatType()))
df_combinations=df_combinations.withColumn("YGCSWGS84",df_combinations.YGCSWGS84.cast(FloatType()))

In [ ]:
df_combinations['collision'] = 0

In [ ]:
#Cyclical Encoding of TIme Features
df_combinations['hour_sin'] = df_combinations.progress_apply(lambda row: math.sin(2 * math.pi * row['hour']/23.0),axis=1)
df_combinations['hour_cos'] = df_combinations.progress_apply(lambda row: math.cos(2 * math.pi * row['hour']/23.0),axis=1)
df_combinations['month_sin'] = df_combinations.progress_apply(lambda row: math.sin(2 * math.pi * row['month']/12.0),axis=1)
df_combinations['month_cos'] = df_combinations.progress_apply(lambda row: math.cos(2 * math.pi * row['month']/12.0),axis=1)

In [ ]:
df_combinations.count()

In [28]:
df_combinations = df_combinations.toPandas()

In [ ]:
df_combinations.to_csv('../data/output/negative_combinations.csv')