In [ ]:
!pip install pysolar
from pysolar.solar import *
from dateutil import tz
import datetime
import pandas as pd
import math

from tqdm import tqdm
tqdm.pandas()

In [ ]:
tzone = tz.gettz('Europe/Berlin')

In [3]:
# EXAMPLE:
latitude = 52.55075
longitude = 13.414106

date = datetime.datetime(2018, 1, 1, 2, 0, 0, tzinfo=tzone)
sun_altitude = get_altitude(latitude, longitude, date)
sun_altitude

-53.749102831159014

In [4]:
def get_sun_altitude(year,month,weekday,hour, lat, long):
  date_1 = datetime.datetime(year,
                           month,
                           weekday,
                           hour,
                           0, 
                           0, 
                           tzinfo=tzone)
  date_2 = datetime.datetime(year,
                               month,
                               weekday+7,
                               hour,
                               0, 
                               0, 
                               tzinfo=tzone)
  date_3 = datetime.datetime(year,
                               month,
                               weekday+14,
                               hour,
                               0, 
                               0, 
                               tzinfo=tzone)
  date_4 = datetime.datetime(year,
                               month,
                               weekday+21,
                               hour,
                               0, 
                               0, 
                               tzinfo=tzone)
  sun_altitude = get_altitude(lat, long, date_1) + get_altitude(lat, long, date_2) + get_altitude(lat, long, date_3) + get_altitude(lat, long, date_4)
  sun_altitude = sun_altitude/4
  return float(sun_altitude)

In [5]:
get_sun_altitude(2022,4,1,16,52.509,13.385)

33.868894127442694

In [6]:
import findspark
findspark.init()
findspark.find()
import pyspark
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType, FloatType, DoubleType

In [7]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('ML_Project').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [8]:
df_negative_samples = spark.read.csv('../data/output/negative_samples.csv', header=True, inferSchema=True)

In [9]:
df_collisions_merged = spark.read.csv('../data/output/df_collisions_merged.csv', header=True, inferSchema=True).dropDuplicates(['segment_id'])

In [10]:
df_collisions_merged.count()

19351

In [11]:
df_negative_samples.count()

643187

In [12]:
df_collisions_merged.show(10)

+-----+------+--------------------+----+-----+-------+----+----------+--------------------+----------+-------------------+--------+----+--------+---------+-----------+-------+---------+---------+----------+----+---+----+-----+-------+-----+--------+-----------+-----------+-----------+-----------+
|  _c0|col_id|              street|year|month|weekday|hour|segment_id|              bezirk| stadtteil|         strassenna|objectid|land|district|      LOR|LOR_ab_2021|acc_cat|acc_type1|acc_type2|lightratio|bike|car|foot|motor|vehicle|other|road_con|    LINREFX|    LINREFY|  XGCSWGS84|  YGCSWGS84|
+-----+------+--------------------+----+-----+-------+----+----------+--------------------+----------+-------------------+--------+----+--------+---------+-----------+-------+---------+---------+----------+----+---+----+-----+-------+-----+--------+-----------+-----------+-----------+-----------+
| 1616|   697|      Andreasviertel|2018|    4|      3|  12|      null|                null|      null|               null|  114648|  11|       2|2040701.0|  2400521.0|      2|        5|        3|         0|   1|  0|   0|    0|      0|    0|       0|800471,7926|5827936,997|13,42932028|52,51852463|
|14765|  5973|            Rehberge|2018|    5|      2|   5|       2.0|               Mitte|   Wedding|Afrikanische Straße|  200956|  11|       1|1044101.0|  1400937.0|      3|        5|        3|         0|   1|  1|   0|    1|      0|    0|       0|793673,1482|5832253,886|13,33323052|52,56092682|
|43631| 17520|            Rehberge|2019|    3|      4|  16|       3.0|               Mitte|   Wedding|Afrikanische Straße|  193171|  11|       1|1044101.0|       null|      3|        5|        3|         0|   0|  1|   0|    0|      0|    0|       0|793775,5002|5831867,548|   13,33439|   52,55741|
|22697|  9142|            Rehberge|2018|    8|      2|  16|       4.0|               Mitte|   Wedding|Afrikanische Straße|  204125|  11|       1|1044101.0|  1400937.0|      3|        3|        6|         0|   0|  0|   0|    1|      0|    1|       0|793820,9334|5831749,663|13,33495795|52,55632706|
| 4650|  1978|            Rehberge|2018|    1|      4|   6|       5.0|               Mitte|   Wedding|Afrikanische Straße|  196928|  11|       1|1044101.0|  1400937.0|      3|        5|        3|         2|   1|  1|   0|    0|      0|    0|       1|793985,8969|5831343,201|13,33702425|52,55259437|
| 4651|  1978|            Rehberge|2018|    1|      4|   6|       6.0|               Mitte|   Wedding|Afrikanische Straße|  196928|  11|       1|1044101.0|  1400937.0|      3|        5|        3|         2|   1|  1|   0|    0|      0|    0|       1|793985,8969|5831343,201|13,33702425|52,55259437|
|28792| 11572|            Rehberge|2018|   10|      6|  17|       7.0|               Mitte|   Wedding|Afrikanische Straße|  206555|  11|       1|1044101.0|  1400938.0|      3|        5|        2|         0|   0|  1|   0|    0|      0|    0|       0|794145,7648|5831106,786| 13,3391659|52,55038876|
| 4803|  2032|            Rehberge|2018|    1|      2|  16|       8.0|               Mitte|   Wedding|Afrikanische Straße|  196982|  11|       1|1044101.0|  1400938.0|      3|        5|        3|         1|   1|  1|   0|    0|      0|    0|       0|794378,8064|5830798,291|13,34231947|52,54749743|
| 4804|  2032|            Rehberge|2018|    1|      2|  16|       9.0|               Mitte|   Wedding|Afrikanische Straße|  196982|  11|       1|1044101.0|  1400938.0|      3|        5|        3|         1|   1|  1|   0|    0|      0|    0|       0|794378,8064|5830798,291|13,34231947|52,54749743|
|26537| 10694|Kaiser-Wilhelm-Platz|2018|    9|      3|  16|      12.0|Tempelhof-Schöneberg|Schöneberg|      Akazienstraße|  205677|  11|       7|7020203.0|  7200409.0|      2|        5|        3|         0|   1|  1|   0|    0|      0|    0|       0| 795512,176|5824438,328|13,35333555|52,48987203|
+-----+------+--------------------+----+-----+-------+----+----------+--------------------+----------+-------------------+--------+----+--------+---------+-----------+-------+---------+---------+----------+----+---+----+-----+-------+-----+--------+-----------+-----------+-----------+-----------+
only showing top 10 rows

In [13]:
df_negative_samples = df_negative_samples.join(df_collisions_merged, df_negative_samples.segment_id == df_collisions_merged.segment_id, "left").select(df_negative_samples['*'],df_collisions_merged['XGCSWGS84'],df_collisions_merged['YGCSWGS84'])

In [14]:
df_negative_samples = df_negative_samples.withColumn('YGCSWGS84', regexp_replace('YGCSWGS84',',','.'))
df_negative_samples = df_negative_samples.withColumn('XGCSWGS84', regexp_replace('XGCSWGS84',',','.'))

In [15]:
df_negative_samples=df_negative_samples.withColumn("XGCSWGS84",df_negative_samples.XGCSWGS84.cast(FloatType()))
df_negative_samples=df_negative_samples.withColumn("YGCSWGS84",df_negative_samples.YGCSWGS84.cast(FloatType()))

In [16]:
df_negative_samples.show(5)

+---+----+----+-----+------------+-------+----------+---------+---------+
|_c0|hour|year|month|weekday_name|weekday|segment_id|XGCSWGS84|YGCSWGS84|
+---+----+----+-----+------------+-------+----------+---------+---------+
|  0|   0|2018|    1|      Monday|      2|   37063.0|13.165076|52.533466|
|  1|   2|2018|    1|      Monday|      2|    7097.0|13.414106| 52.55075|
|  2|   2|2018|    1|      Monday|      2|   30880.0|13.608368| 52.54298|
|  3|   6|2018|    1|      Monday|      2|    3942.0| 13.35158| 52.52647|
|  4|   9|2018|    1|      Monday|      2|   29466.0|13.365961|52.604504|
+---+----+----+-----+------------+-------+----------+---------+---------+
only showing top 5 rows

In [17]:
sun_elevation_udf = udf(lambda year,month,weekday,hour,lat,long: get_sun_altitude(year,month,weekday,hour,lat,long), FloatType())

In [18]:
df_negative_samples = df_negative_samples.withColumn("sun_elevation", sun_elevation_udf(df_negative_samples.year,df_negative_samples.month,df_negative_samples.weekday,df_negative_samples.hour,df_negative_samples.YGCSWGS84,df_negative_samples.XGCSWGS84))

In [19]:
df_negative_samples.show(10)

+---+----+----+-----+------------+-------+----------+---------+---------+-------------+
|_c0|hour|year|month|weekday_name|weekday|segment_id|XGCSWGS84|YGCSWGS84|sun_elevation|
+---+----+----+-----+------------+-------+----------+---------+---------+-------------+
|  0|   0|2018|    1|      Monday|      2|   37063.0|13.165076|52.533466|   -58.720448|
|  1|   2|2018|    1|      Monday|      2|    7097.0|13.414106| 52.55075|    -52.78655|
|  2|   2|2018|    1|      Monday|      2|   30880.0|13.608368| 52.54298|   -52.711033|
|  3|   6|2018|    1|      Monday|      2|    3942.0| 13.35158| 52.52647|   -18.974955|
|  4|   9|2018|    1|      Monday|      2|   29466.0|13.365961|52.604504|    5.0147595|
|  5|  11|2018|    1|      Monday|      2|   26253.0| 13.56204| 52.56158|    14.442504|
|  6|  13|2018|    1|      Monday|      2|     224.0|13.193334| 52.54901|    15.561082|
|  7|  13|2018|    1|      Monday|      2|   12981.0| 13.32666| 52.51679|    15.577415|
|  8|  13|2018|    1|      Monday|      2|   20060.0| 13.35499| 52.48388|    15.606351|
|  9|  15|2018|    1|      Monday|      2|   14031.0|13.313364|52.523197|     8.036418|
+---+----+----+-----+------------+-------+----------+---------+---------+-------------+
only showing top 10 rows

In [20]:
df_negative_samples = df_negative_samples.withColumn("collision", lit(0))

In [21]:
df_negative_samples = df_negative_samples.drop('_c0')

In [22]:
df_collisions = spark.read.csv('../data/output/df_collisions_merged.csv', header=True, inferSchema=True)

In [23]:
df_collisions = df_collisions.select(['hour','year','month','weekday','segment_id','XGCSWGS84','YGCSWGS84'])

In [24]:
df_collisions = df_collisions.withColumn('YGCSWGS84', regexp_replace('YGCSWGS84',',','.'))
df_collisions = df_collisions.withColumn('XGCSWGS84', regexp_replace('XGCSWGS84',',','.'))

In [25]:
df_collisions=df_collisions.withColumn("XGCSWGS84",df_collisions.XGCSWGS84.cast(FloatType()))
df_collisions=df_collisions.withColumn("YGCSWGS84",df_collisions.YGCSWGS84.cast(FloatType()))

In [26]:
df_collisions = df_collisions.withColumn("sun_elevation", sun_elevation_udf(df_collisions.year,df_collisions.month,df_collisions.weekday,df_collisions.hour,df_collisions.YGCSWGS84,df_collisions.XGCSWGS84))

In [27]:
df_collisions = df_collisions.withColumn('weekday_name',when(df_collisions.weekday == 1,'Sunday').when(df_collisions.weekday == 2,'Monday').when(df_collisions.weekday == 3,'Tuesday').when(df_collisions.weekday == 4,'Wednesday').when(df_collisions.weekday == 5,'Thursday').when(df_collisions.weekday == 6,'Friday').otherwise('Saturday'))

In [28]:
df_collisions = df_collisions.withColumn("collision", lit(1))

In [29]:
df_negative_samples.dtypes

[('hour', 'int'),
 ('year', 'int'),
 ('month', 'int'),
 ('weekday_name', 'string'),
 ('weekday', 'int'),
 ('segment_id', 'double'),
 ('XGCSWGS84', 'float'),
 ('YGCSWGS84', 'float'),
 ('sun_elevation', 'float'),
 ('collision', 'int')]

In [30]:
df_collisions.dtypes

[('hour', 'int'),
 ('year', 'int'),
 ('month', 'int'),
 ('weekday', 'int'),
 ('segment_id', 'double'),
 ('XGCSWGS84', 'float'),
 ('YGCSWGS84', 'float'),
 ('sun_elevation', 'float'),
 ('weekday_name', 'string'),
 ('collision', 'int')]

In [31]:
df_collisions.count()

96666

In [32]:
df_full = df_collisions.union(df_negative_samples).limit(10000)

In [33]:
df_full.dtypes

[('hour', 'int'),
 ('year', 'int'),
 ('month', 'int'),
 ('weekday', 'string'),
 ('segment_id', 'double'),
 ('XGCSWGS84', 'double'),
 ('YGCSWGS84', 'float'),
 ('sun_elevation', 'float'),
 ('weekday_name', 'string'),
 ('collision', 'int')]

In [35]:
df_full = df_full.withColumn('hour_sin', sin(2 * math.pi * df_full.hour/23.0))
df_full = df_full.withColumn('hour_cos', cos(2 * math.pi * df_full.hour/23.0))
df_full = df_full.withColumn('month_sin', sin(2 * math.pi * df_full.month/12.0))
df_full = df_full.withColumn('month_cos', cos(2 * math.pi * df_full.month/12.0))

In [ ]:
df_full.show(5)

In [ ]:
df_full.write.option("header",True)
   .csv('../data/output/full_sample')

In [ ]:
df_full.toPandas().to_csv('full_sample.csv')