In [2]:
!pip install pysolar
from pysolar.solar import *
from dateutil import tz
import datetime
import pandas as pd
import math

from tqdm import tqdm
tqdm.pandas()

Requirement already satisfied: pysolar in c:\users\bened\appdata\local\programs\python\python37\lib\site-packages (0.10)

In [2]:
tzone = tz.gettz('Europe/Berlin')

In [3]:
# EXAMPLE:
latitude = 52.55075
longitude = 13.414106

date = datetime.datetime(2018, 1, 1, 2, 0, 0, tzinfo=tzone)
sun_altitude = get_altitude(latitude, longitude, date)
sun_altitude

-53.749102831159014

In [4]:
def get_sun_altitude(year,month,weekday,hour, lat, long):
  date_1 = datetime.datetime(year,
                           month,
                           weekday,
                           hour,
                           0, 
                           0, 
                           tzinfo=tzone)
  date_2 = datetime.datetime(year,
                               month,
                               weekday+7,
                               hour,
                               0, 
                               0, 
                               tzinfo=tzone)
  date_3 = datetime.datetime(year,
                               month,
                               weekday+14,
                               hour,
                               0, 
                               0, 
                               tzinfo=tzone)
  date_4 = datetime.datetime(year,
                               month,
                               weekday+21,
                               hour,
                               0, 
                               0, 
                               tzinfo=tzone)
  sun_altitude = get_altitude(lat, long, date_1) + get_altitude(lat, long, date_2) + get_altitude(lat, long, date_3) + get_altitude(lat, long, date_4)
  sun_altitude = sun_altitude/4
  return float(sun_altitude)

In [5]:
# Function TEST: Example
get_sun_altitude(2022,4,1,16,52.509,13.385)

33.868894127442694

In [8]:
df_negative_samples = pd.read_csv('../data/output/df_negative_sample.csv', index_col=[0])

In [9]:
df_negative_samples.head()

   hour  year  month weekday_name  weekday  segment_id
0     0  2018      1       Monday        2     42079.0
1     0  2018      1       Monday        2     20232.0
2     3  2018      1       Monday        2     42612.0
3     3  2018      1       Monday        2     24521.0
4     4  2018      1       Monday        2     20491.0

In [15]:
df_negative_sample['sun_elevation_angle'] = df_negative_sample.progress_apply(lambda row:get_sun_altitude(row['year'],row['month'],row['weekday'],row['hour'],row['YGCSWGS84'],row['XGCSWGS84']), axis=1)

100%|█████████████████████████████████████████████████████████████████████| 1635962/1635962 [3:24:41<00:00, 133.21it/s]

In [25]:
df_collisions['sun_elevation_angle'] = df_collisions.progress_apply(lambda row:get_sun_altitude(row['year'].astype('int'),row['month'].astype('int'),row['weekday'].astype('int'),row['hour'].astype('int'),row['YGCSWGS84'].astype('int'),row['XGCSWGS84'].astype('int')), axis=1)

100%|███████████████████████████████████████████████████████████████████████████| 96666/96666 [09:46<00:00, 164.79it/s]