In [ ]:
from google.colab import drive

drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd

In [102]:
# import collision data
df_collisions = pd.read_csv('/content/drive/MyDrive/GRAD-C24_Machine_Learning/Machine-Learning-Project-Group-F/data/output/collisions.csv',
                            index_col=[0])

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [103]:
df_collisions

,collision_id,land,district,LOR,street,LOR_ab_2021,year,month,hour,weekday,...,car,foot,motor,vehicle,other,road_con,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,112695,11,2,2050602.0,Samariterviertel,2500729.0,2018,1,15,4,...,1,1,0,0,0,1,"803604,1562","5827580,738","13,4750178","52,51359681"
1,112705,11,12,12304314.0,Ziekowstraße/Freie Scholle,12500824.0,2018,1,11,2,...,1,0,0,0,0,0,"790639,5854","5835009,589","13,29102205","52,58725906"
2,112726,11,2,2040501.0,Barnimkiez,2400520.0,2018,1,9,3,...,1,1,0,0,0,0,"799827,9618","5828733,523","13,42057818","52,52601854"
3,112737,11,7,7020202.0,Volkspark (Rudolf-Wilde-Park),7200308.0,2018,1,17,2,...,1,1,0,0,0,0,"795223,509","5823525,402","13,34828776","52,48184447"
4,112747,11,3,3020209.0,Niederschönhausen,3200206.0,2018,1,15,4,...,0,1,0,0,0,1,"798261,3849","5835047,26","13,40322797","52,58347154"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38847,146061,11,7,7040403.0,NaN,7400823.0,2020,12,7,4,...,1,1,0,0,0,1,"797339,7447","5821935,194","13,37794126","52,46644169"
38848,146062,11,12,12231101.0,NaN,12400722.0,2020,12,17,3,...,1,0,0,0,0,1,"791814,8333","5837953,171","13,31091476","52,61301792"
38849,146065,11,1,1011306.0,NaN,1100313.0,2020,12,14,3,...,1,0,0,0,1,0,"799900,8048","5826514,725","13,41964879","52,50609051"
38850,146068,11,1,1011204.0,NaN,1100207.0,2020,12,16,3,...,1,1,0,0,0,1,"797982,8966","5826897,222","13,39181741","52,51057"
38851,146070,11,1,1033101.0,NaN,1300732.0,2020,12,14,4,...,1,0,0,1,0,0,"797307,1285","5832290,574","13,38671399","52,5592837"

In [105]:
##Generate Date Column

import time
import datetime

df_collisions["date"] = pd.to_datetime(df_collisions["year"] + "/" + df_collisions["month"] + "/" + df_collisions["weekday"])

UFuncTypeError: ignored

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True]

In [ ]:
accidents_2019.head()

,OBJECTID,LAND,BEZ,LOR,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,49090,11,12,12301203,2019,1,13,6,3,5,...,1,0,0,0,0,1,"794062,2837","5835083,823","13,34146","52,58609"
1,49091,11,3,3040818,2019,1,9,5,3,5,...,1,0,0,0,0,0,"799130,4007","5832327,415","13,41356","52,55862"
2,49093,11,12,12103115,2019,3,21,6,3,0,...,0,0,0,0,0,0,"795437,613","5833549,454","13,36034","52,57159"
3,49096,11,6,6040703,2019,1,7,6,2,6,...,1,1,0,0,0,1,"786714,3754","5817042,137","13,21777","52,42825"
4,49097,11,7,7030303,2019,2,15,3,3,2,...,1,0,0,0,0,0,"796074,3342","5822724,905","13,36007","52,47421"

In [ ]:
accidents_2020['UMONAT'].max()

12

In [ ]:
# generate all dates from start to end
import time
import datetime



start = "01/01/2018"
end = "31/12/2020"
date = datetime.datetime.strptime(start, "%d/%m/%Y")

dates = list()
while(date != datetime.datetime.strptime(end, "%d/%m/%Y")): 
    date += datetime.timedelta(days=1)
    for i in range(24):
        dates.append((date.strftime("%Y-%m-%d"), i))

In [ ]:
# Create the pandas DataFrame
df_date_hour_pairs = pd.DataFrame(dates, columns = ['date', 'hour'])
df_road_segments = pd.DataFrame(('00001',
                                 '00002',
                                 '00003',
                                 '00004',
                                 '00005'), columns=['segment_ID'])

In [81]:
len(df_road_segments) * len(df_date_hour_pairs)

131400

In [79]:
### Creating Date-Hour-Road Segment Combinations

df_combinations = pd.merge(df_road_segments, 
                           df_date_hour_pairs, 
                           how='cross')

In [80]:
df_combinations

       segment_ID        date  hour
0           00001  2018-01-02     0
1           00001  2018-01-02     1
2           00001  2018-01-02     2
3           00001  2018-01-02     3
4           00001  2018-01-02     4
...           ...         ...   ...
131395      00005  2020-12-31    19
131396      00005  2020-12-31    20
131397      00005  2020-12-31    21
131398      00005  2020-12-31    22
131399      00005  2020-12-31    23

[131400 rows x 3 columns]