In [1]:
from google.colab import drive

drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [15]:
import pandas as pd

In [16]:
# import collision_road matching data with segment IDs
df_collisions_road = pd.read_csv('../data/output/collisions_road.csv')

# import collision data
df_collisions = pd.read_csv('../data/output/collisions.csv')

In [60]:
df_collisions_road.head()

,col_id,street,segment_id,bezirk,stadtteil,strassenna
0,0,Samariterviertel,6209.0,Friedrichshain-Kreuzberg,Friedrichshain,Frankfurter Allee
1,1,Ziekowstraße/Freie Scholle,41374.0,Reinickendorf,Tegel,A 111 BAB Autobahnzubringer Hamburg
2,1,Ziekowstraße/Freie Scholle,41373.0,Reinickendorf,Tegel,A 111 BAB Autobahnzubringer Hamburg
3,2,Barnimkiez,4410.0,Pankow,Prenzlauer Berg,Otto-Braun-Straße
4,3,Volkspark (Rudolf-Wilde-Park),1452.0,Tempelhof-Schöneberg,Schöneberg,Hauptstraße

In [17]:
# generate all dates from start to end
import time
import datetime



start = "31/12/2017"
end = "31/12/2020"
date = datetime.datetime.strptime(start, "%d/%m/%Y")

dates = list()
while(date != datetime.datetime.strptime(end, "%d/%m/%Y")): 
    date += datetime.timedelta(days=1)
    for i in range(24):
        dates.append((date.strftime("%Y-%m-%d"), i))

In [18]:
# Create the pandas DataFrame
df_date_hour_pairs = pd.DataFrame(dates, columns = ['date', 'hour'])
df_segments = pd.DataFrame(df_collisions_road["segment_id"].unique(), columns=["segment_id"])

In [19]:
df_date_hour_pairs['date'] = pd.to_datetime(df_date_hour_pairs['date'])

In [20]:
df_date_hour_pairs

            date  hour
0     2018-01-01     0
1     2018-01-01     1
2     2018-01-01     2
3     2018-01-01     3
4     2018-01-01     4
...          ...   ...
26299 2020-12-31    19
26300 2020-12-31    20
26301 2020-12-31    21
26302 2020-12-31    22
26303 2020-12-31    23

[26304 rows x 2 columns]

In [21]:
df_date_hour_pairs_2018_1 = df_date_hour_pairs[df_date_hour_pairs['date']<datetime.datetime(2018,7,1)]
df_date_hour_pairs_2018_2 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2019,1,1)) & (df_date_hour_pairs['date']>datetime.datetime(2018,6,30))]  
df_date_hour_pairs_2019_1 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2019,7,1)) & (df_date_hour_pairs['date']>datetime.datetime(2018,12,31))]  
df_date_hour_pairs_2019_2 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2020,1,1)) & (df_date_hour_pairs['date']>datetime.datetime(2019,6,30))]  
df_date_hour_pairs_2020_1 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2020,7,1)) & (df_date_hour_pairs['date']>datetime.datetime(2019,12,31))]  
df_date_hour_pairs_2020_2 = df_date_hour_pairs[(df_date_hour_pairs['date']<datetime.datetime(2021,1,1)) & (df_date_hour_pairs['date']>datetime.datetime(2020,6,30))]

In [23]:
df_date_hour_pairs_2020_2

            date  hour
21888 2020-07-01     0
21889 2020-07-01     1
21890 2020-07-01     2
21891 2020-07-01     3
21892 2020-07-01     4
...          ...   ...
26299 2020-12-31    19
26300 2020-12-31    20
26301 2020-12-31    21
26302 2020-12-31    22
26303 2020-12-31    23

[4416 rows x 2 columns]

In [24]:
df_segments

       segment_id
0          6209.0
1         41374.0
2         41373.0
3          4410.0
4          1452.0
...           ...
19346     15989.0
19347     15988.0
19348     22553.0
19349     22561.0
19350     20180.0

[19351 rows x 1 columns]

In [25]:
### Creating Date-Hour-Road Segment Combinations
df_segments['key'] = 1
df_date_hour_pairs_2018_1['key'] = 1
df_date_hour_pairs_2018_2['key'] = 1
df_date_hour_pairs_2019_1['key'] = 1
df_date_hour_pairs_2019_2['key'] = 1
df_date_hour_pairs_2020_1['key'] = 1
df_date_hour_pairs_2020_2['key'] = 1

# to obtain the cross join we will merge 
# on the key and drop it.
#pd.merge(df_segments, df_date_hour_pairs_2018_1, on ='key').drop("key", 1).to_csv("../data/output/combinations_2018_1.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2018_2, on ='key').drop("key", 1).to_csv("../data/output/combinations_2018_2.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2019_1, on ='key').drop("key", 1).to_csv("../data/output/combinations_2019_1.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2019_2, on ='key').drop("key", 1).to_csv("../data/output/combinations_2019_2.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2020_1, on ='key').drop("key", 1).to_csv("../data/output/combinations_2020_1.csv", index = False)
pd.merge(df_segments, df_date_hour_pairs_2020_2, on ='key').drop("key", 1).to_csv("../data/output/combinations_2020_2.csv", index = False)

c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
c:\users\bened\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [9]:
df_combinations_2018_1

          segment_id       date  hour
0             6209.0 2018-01-01     0
1             6209.0 2018-01-01     1
2             6209.0 2018-01-01     2
3             6209.0 2018-01-01     3
4             6209.0 2018-01-01     4
...              ...        ...   ...
84060739     20180.0 2018-06-30    19
84060740     20180.0 2018-06-30    20
84060741     20180.0 2018-06-30    21
84060742     20180.0 2018-06-30    22
84060743     20180.0 2018-06-30    23

[84060744 rows x 3 columns]